extends ../layout2.pug

block content
  script(src='/component/tinycolorpicker/tinycolorpicker.js')
  link(rel='stylesheet', href='/stylesheet/tinycolorpicker/tinycolorpicker.css', type='text/css')

  div.container.col-sm-7
    div.error_div
      if errors
        each error, i in errors
          p #{error.msg}

    form(action='/class/create/', method='post')
      .form-group
        label(for='title') Class Title
        input#title(name='title', type='text', placeholder='Class Title', required='true')
      p
      .form-group
        label(for='description') Class Description
        textarea#description(name='description', rows=3, cols=70, placeholder='Class description')
      p
      .form-group
        label(for='gymnasium') Gymnasium Branch
        select#gymnasium(name='gymnasium', style='width: 185px')
          each gymnasium in gymnasiums
            option(value= gymnasium._id) #{gymnasium.branch_name}

      p
      .form-group
        label(for='instructor') Instructor
        select#instructor(name='instructor' style="width: 185px")
          each instructor in coaches 
            option(value= instructor.name) #{instructor.name}
      p
      .form-group
        label(for='duration') Class duration (in mins)
        select#duration(name='class_duration', style='width: 85px')
          each duration in [30, 45, 60, 120, 180]
            option(value= duration) #{duration}
      .form-group
        label(for='sessions') Number of sessions
        input#sessions(name='session_count', type='text' size='3')
      
        label(for='limit') Class limit
        input#limit(name='class_limit', type='text' size='3')
      
        label(for='cost') Class cost
        input#cost(name='cost', type='text' size ='5')
        p
      .form-group
        label(for='pending') Pending
        input#pending(name='ispending', type='checkbox',  checked=true)
        p
      .form-group
        label(for='colorPicker') Select Color
        div#colorPicker
          a.color
            div.colorInner
          div.track
          ul.dropdown
            li
          input.colorInput(type="hidden" name="color") 
        p
        button.btn.btn-primary(type='submit') Add Class

 
  script.
    initColorPicker()
