extends ../layout2.pug

block content
  div.container.col-md-9
    h1
      a(href='/') Gymnists
    if message
      p= message
    table.table
      tr
        td Name
        td Account No.
        td No. Classes
        td Age
        - var gymnistAge = function (dob) {
        -   var d = new Date(dob);
        -   var today = new Date();
        -   return today.getFullYear() - d.getFullYear();
        - }
        td Enrollment Date
        td Notes
        td
        if isAdmin
          td
      each gymnist in gymnists
        tr
          td
            a(href='/gymnist/profile/' + gymnist.id) #{gymnist.fname + ' ' +  gymnist.lname}
          td
            a(href='/account/profile' + gymnist.account_no) #{gymnist.account_no}
          td #{gymnist.classes.length}
          td #{gymnistAge(gymnist.dob)}
          td #{gymnist.enrollment_date}
          td #{gymnist.notes}
          td
            a(href='/gymnist/update/' + gymnist.id) Edit
          if isAdmin
            td
              a(href='/gymnist/delete/' + gymnist.id) Remove

    p
     a.btn.btn-primary(href='/gymnist/create') Add New Gymnist
